* {
    margin: 0;               /* 모든 요소의 기본 마진 제거 */
    padding: 0;              /* 모든 요소의 기본 패딩 제거 */
    box-sizing: border-box;  /* 박스 모델을 border-box로 설정 */
    font-family: Arial, sans-serif; /* 기본 글꼴 설정 */
}

a {
    text-decoration-line: None;
    color : black;
    font-weight:bold;
}

body {
    display:flex;
    justify-content:center;
}

#mainframe {
    margin-top : 30px;
    text-align : left;
}

#top_line {
    display: flex; 
    justify-content: space-between;
    text-align:right;
}

#top_line #top_line_content {
    width : 70%;
    display : flex;
    justify-content: flex-end;
}

@media(max-width : 400px) {
    #top_line #top_line_content {
        width : 100%;
        display : flex;
        justify-content: flex-end;
    }
}

@media(max-width : 768px) {
    #top_line #top_line_content {
        width : 100%;
        display : flex;
        justify-content: flex-end;
    }
}

#top_line #top_line_content div {
    margin-left : 5px;
}

#title_view {
    margin-top:30px;
    text-align : center;
}

#view {
    margin-top : 30px;
}

.upload_button {
    border-radius:5px;
    border:1px solid #767676; 
    text-align:center;
    background-color: #efefef;
}

.upload_button:hover {
    background-color: #e5e5e5;
}

body {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:lang(ko) {
    font-family: "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-style: normal;
}


@media(max-width : 400px) {
    .hide_in_mobile_400 {
        display: none; 
    }
}

@media(max-width : 768px) {
    .hide_in_mobile_768 {
        display: none; 
    }
}