<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global_title}}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_content_view.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_content_edit.css" type="text/css"></link>
    <style>
        #mainframe {
            width : 2000px;
        }

        #view {
            display:flex;
        }

        #editframe {
            width : 50%;
            padding:10px;
        }

        #viewframe {
            width : 50%;
            padding:10px;
        }
    </style>
</head>
<body>
    <div id='mainframe'>
        <div id='top_line'>
            <div id='top_line_empty'>
                <h5> hello, {{user_info['user_id']}}! </h5>
            </div>
            <div id='top_line_content'>
                <form action="/logout" method="post">
                    <div>
                        <button type="submit">logout</button>
                    </div>
                </form>
                {% if user_info['previlage'] == 'admin' %}
                <form action="/admin/user" method="get">
                    <div>
                        <button type="submit">view user table</button>
                    </div>
                </form>
                {% endif %}
                <form action="/" method="get">
                    <div>
                        <button type="submit">return to home</button>
                    </div>
                </form>
            </div>
        </div>
        <div id= 'title_view'>
            <h1> write content </h1>
        </div>
        <div id='view'>
            <div id="editframe">
                <form action="/content" method="post">
                    {% if content_idx != None %}
                        <input style="display:none;" name="content_idx" area-label="content_idx" value="{{content_idx}}" readonly></input>
                    {% endif %}
                    <div id = "content_edit_title">
                        <div id = 'content_edit_title_key'>
                            TITLE
                        </div>
                        <div id = 'content_edit_title_value'>
                            {% if content_idx != None %}
                                <input type="text" id="title" name="title" aria-label="title" value="{{content['title']}}" required></input>
                            {% else %}
                                <input type="text" id="title" name="title" aria-label="title" value="EMPTY" required></input>
                            {% endif %}
                        </div> 
                    </div>
                    <div id = "content_edit_category">
                        <div id = 'content_edit_category_key'>
                            CATEGORY
                        </div>
                        <div id ='content_edit_category_value'>
                            {% if content_idx != None %}
                                {% for category in category_list %}
                                    {% if category == content['category'] %}
                                        <label for="{{category}}">{{category}}</label>
                                        <input type="radio" id="{{category}}" name="category" value="{{category}}" required checked>
                                    {% else %}
                                        <label for="{{category}}">{{category}}</label>
                                        <input type="radio" id="{{category}}" name="category" value="{{category}}" required>
                                    {% endif %}
                                {% endfor %}     
                            {% else %}
                                {% for category in category_list %}
                                <label for="{{category}}">{{category}}</label>
                                <input type="radio" id="{{category}}" name="category" value="{{category}}" required>
                                {% endfor %}
                            {% endif %} 
                        </div>
                    </div>
                    <div id = "content_edit_image" >
                        <div id = "content_edit_image" >
                            <input type="file" id="content_edit_image_select" accept=".jpg, .jpeg, .png, .gif, .webp"/>
                            <div id='content_edit_image_submit' class='upload_button' style='width:50%'> upload image </div>
                        </div>
                        <div>
    
                        </div>
                    </div>
                    <div id ='content_edit_main'>
                        {% if content_idx != None %}
                            <textarea id="content_edit_main_textarea" name="content" rows="20" aria-label="content" required>{{content['content']}}</textarea>
                        {% else %}
                            <textarea id="content_edit_main_textarea" name="content" rows="20" aria-label="content" required>## you can write content with markdown and html tag on this place!</textarea>
                        {% endif %}
                    </div>
                    <div id = 'content_edit_submit'>
                        <button type="submit">전송</button>
                    </div>
                </form>
            </div>
            <div id="viewframe">
                <h1 id='content_view_title'> EMPTY </h1>
                <div id='content_view_info'>  
                    <span> user_id : {{user_info['user_id']}} </span> 
                    <span> view_count : {{view_count}} </span>
                    <span> created_time : {{created_time}} </span> 
                    <span> updated_time : {{updated_time}} </span>
                </div>
                <div id='content_view_content'>   
                    empty!
                </div>
            </div>
        </div> 
    </div>
    <link rel="stylesheet" href="/css/highlights.default.min.css">
    <script src="/js/marked.umd.js"></script>
    <script src="/js/marked-highlight.index.umd.js"></script>
    <script src="/js/highlight.min.js"></script>
    <script src="/js/highlight.python.min.js"></script>
    <script src="/js/highlight.c.min.js"></script>
    <script src="/js/highlight.cpp.min.js"></script>
    <script src="/js/highlight.go.min.js"></script>
    <script src="/js/highlight.java.min.js"></script>
    <script src="/js/highlight.javascript.min.js"></script>
    <script src="/js/highlight.rust.min.js"></script>
    <script>
        const { Marked } = globalThis.marked;
        const { markedHighlight } = globalThis.markedHighlight;

        const marked = new Marked(
            markedHighlight({
                emptyLangClass: 'hljs',
                langPrefix: 'hljs language-',
                highlight(code, lang, info) {
                const language = hljs.getLanguage(lang) ? lang : 'plaintext';
                return hljs.highlight(code, { language }).value;
                }
            })
            );
        
        marked.use({
                breaks:true
            });

        const update_viewframe = ()=>{
            const input_title = document.getElementById("title").value;

            document.getElementById("content_view_title").innerText = input_title;

            const markdownInput = document.getElementById("content").value
            const markdownOutput = document.getElementById('content_view_content');
            markdownOutput.innerHTML = marked.parse(markdownInput);
        };
        document.getElementById("title").addEventListener('input',update_viewframe);
        document.getElementById("content").addEventListener('input',update_viewframe);

        update_viewframe();

        const upload_image = () => {
            const fileInput = document.getElementById('imageInput');
            const file = fileInput.files[0];

            if (!file) {
                return;
            }

            const formData = new FormData();
            formData.append('image', file); // 'image'는 서버에서 받아줄 필드 이름

            fetch('/fs/upload/image', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then((image_download_url) => {
                const img_element = `

<div style="text-align:center">
    <img src="/image/${image_download_url}" height="300" width="400" />
</div>
                
`;
                document.getElementById("content").value = document.getElementById("content").value + img_element;
                update_viewframe();
            })
            .catch(error => {
                console.error('Error uploading image:', error);
            })
        }
        document.getElementById('upload_image_button').addEventListener('click',upload_image)


    </script>
</body>
</html>