<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global_title}}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_table.css" type="text/css"></link>
    <style>
        #mainframe {
            width : 800px;
        }
        table {
            margin-top : 10px;
        }
        #category_view {
            display:flex;
        }

        #category_view div {
            margin-right:10px;
        }

        #view_select {
            margin-top:10px; 
            display:flex;
        }

        #view_select #row_cnt_select {
            width:50px;
        }

        #view_select #prev_page_button {
            margin-right:5px;
        }

        #view_select #page_select a {
            margin-right:5px;
        }

        #view_select #next_page_button {
            margin-right:5px;
        }
        
        #created_by {
            text-align:right;
        }
    </style>
</head>
<body>
    <div id='mainframe'>
        <div id='top_line'>
            <div id='top_line_empty'>
                {% if user_info %}
                    <h5> hello, {{user_info['user_id']}}! </h5>
                {% endif %}
            </div>
            <div id='top_line_content'>
                {% if user_info %}
                    <form action="/logout" method="post">
                        <div>
                            <button type="submit">logout</button>
                        </div>
                    </form>
                    {% if user_info['previlage'] in write_content_previlage %}
                    <form action="/content" method="get">
                        <div>
                            <button type="submit">write content</button>
                        </div>
                    </form>
                    {% endif %}
                    <form action="/edit/user" method="get">
                        <div>
                            <button type="submit">modify user info</button>
                        </div>
                    </form>
                    {% if user_info['previlage'] == 'admin' %}
                    <form action="/admin/panel" method="get">
                        <div>
                            <button type="submit">go admin panel</button>
                        </div>
                    </form>
                    {% endif %}
                {% else %}
                    <form action="/login" method="get">
                        <div>
                            <button type="submit">login</button>
                        </div>
                    </form>
                    <form action="/user" method="get">
                        <div>
                            <button type="submit">create account</button>
                        </div>
                    </form>
                {% endif %}
                    <form action="/" method="get">
                        <div>
                            <button type="submit">return to home</button>
                        </div>
                    </form>
            </div>
        </div>
        <div id='title_view'>   
            <h1> {{global_title}} </h1>
        </div>
        <div id='view'>
            <div id="category_view">
                <div>
                    <a href="/">Recent</a>
                </div>
                {% for cate in category_list %}
                <div>
                    <a href="/?category={{cate['category']}}"> {{cate['category']}}</a>
                </div>
                {% endfor %}
            </div>
            <table>
                <thead>
                    <tr>
                        <th>content_idx</th>
                        <th>user_id</th>
                        <th>category</th>
                        <th>title</th>
                        <th>view_count</th>
                        <th>created_time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in content_list %}
                    <tr>
                        <td>{{row['content_idx']}}</td>
                        <td>{{row['user_id']}}</td>
                        <td>{{row['category']}}</td>
                        <td> <a href="/content/{{row['content_idx']}}"> {{row['title']}} </a> </td>
                        <td>{{row['view_count']}} </td>
                        <td>{{row['created_time']}} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="view_select">
                <div style="margin-right : 10px">
                    <form id="row_cnt_select_submit" action="/" method="get">
                        {% if category %}
                            <input style="display:none" type="text" name = "category" value="{{category}}"></input>
                        {% endif %}
                        {% if search_pattern %}
                            <input style="display:none" type="text" name = "search_pattern" value="{{search_pattern}}"></input>
                        {% endif %}
                        <input style="display:none" type="text" name = "page" value="1"></input>
                        <select id="row_cnt_select" name="row_cnt">
                            {% for row_cnt_option in row_cnt_list %}
                                {% if row_cnt_option == row_cnt %}
                                    <option value="{{row_cnt_option}}" selected> 
                                {% else %}
                                    <option value="{{row_cnt_option}}"> 
                                {% endif %}   
                                        {{row_cnt_option}} 
                                    </option>
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                {% if not is_page_in_first_batch %}
                <div id="prev_page_button">
                    {% if category %}
                        {% if search_pattern %}
                        <a href="/?category={{category}}&search_pattern={{search_pattern}}&page={{prev_button_page}}&row_cnt={{row_cnt}}">
                        {% else %}
                        <a href="/?category={{category}}&page={{prev_button_page}}&row_cnt={{row_cnt}}">
                        {% endif %}
                    {% elif search_pattern %}
                        <a href="/?search_pattern={{search_pattern}}&page={{prev_button_page}}&row_cnt={{row_cnt}}">
                    {% else %}
                        <a href="/?page={{prev_button_page}}&row_cnt={{row_cnt}}">
                    {% endif %} 
                            prev 
                        </a>
                </div>
                {% endif %}
                <div id="page_select">              
                    {% for page_select in page_list %}
                        {% if category %}
                            {% if search_pattern %}
                            <a href="/?category={{category}}&search_pattern={{search_pattern}}&page={{page_select}}&row_cnt={{row_cnt}}">
                            {% else %}
                            <a href="/?category={{category}}&page={{page_select}}&row_cnt={{row_cnt}}">
                            {% endif %}  
                        {% elif search_pattern %}
                            <a href="/?search_pattern={{search_pattern}}&page={{page_select}}&row_cnt={{row_cnt}}">
                        {% else %}  
                            <a href="/?page={{page_select}}&row_cnt={{row_cnt}}">
                        {% endif %}
                                {{page_select}}
                            </a>
                    {% endfor %}
                </div>
                {% if not is_page_in_last_batch %}
                <div id="next_page_button">
                    {% if category %}
                        {% if search_pattern %}
                        <a href="/?category={{category}}&search_pattern={{search_pattern}}&page={{next_button_page}}&row_cnt={{row_cnt}}">
                        {% else %}
                        <a href="/?category={{category}}&page={{next_button_page}}&row_cnt={{row_cnt}}">
                        {% endif %}
                    {% elif search_pattern %}
                        <a href="/?search_pattern={{search_pattern}}&page={{next_button_page}}&row_cnt={{row_cnt}}">
                    {% else %}
                        <a href="/?page={{next_button_page}}&row_cnt={{row_cnt}}">
                    {% endif %} 
                            next 
                        </a>
                </div>
                {% endif %}
                <div id="search_pattern_input">
                    <form action="/" method="get">
                        <input type="text" name="search_pattern"></input>
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
            <div id="created_by">
                Created by Jang Woo-seok <br> 
            </div>
        </div>
    </div>
    <script>
        const submitRowCntSeletectForm = () => {
            document.getElementById("row_cnt_select_submit").submit()
        };
        document.getElementById("row_cnt_select").addEventListener("change",submitRowCntSeletectForm);
    </script>
</body>
</html>