<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global_title}}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_input.css" type="text/css"></link>
    <style>
        #mainframe {
            width : 350px;
        }
    </style>
</head>
<body>
    <div id='mainframe'>
        <div id='top_line'>
            <div id='top_line_empty'>
            </div>
            <div id='top_line_content'>
                <form action="/user" method="get">
                    <div>
                        <button type="submit">create account</button>
                    </div>
                </form>
                <form action="/" method="get">
                    <div>
                        <button type="submit">return to home</button>
                    </div>
                </form>
            </div>
        </div>
        <div id= 'title_view'>
            <h1> login page </h1>
        </div>
        <div id ='view'>
            <div> {{error_message}} </div>
            <div id='user_input'>
                <form action="/login" method="post">
                    {% if content_idx %}
                    <input style="display:none" name="content_idx" value="{{content_idx}}"></input>
                    {% endif %}
                    <div class='user_input_form'> 
                        <div class='user_input_form_category'>
                            ID
                        </div>
                        <div class='user_input_form_input'>
                            <input type="text" id="user_id" name="user_id" required>
                        </div>              
                    </div>
                    <div class='user_input_form'> 
                        <div class='user_input_form_category'>
                            PASSWORD
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password" name="user_password" required></input>   
                        </div> 
                    </div>
                    <div class='user_input_submit'>
                        <button type="submit">LOGIN</button>
                    </div>
                </form>
                <form class='user_input_submit' action="/find/user" method="get">
                    <button type="submit">FIND PASSWORD</button>
                </form>
            </div>
        </div> 
    </div>
</body>
</html>