<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global_title}}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_input.css" type="text/css"></link>
    <style>
        #mainframe {
            width : 500px;
        }
    </style>
</head>
<body>
    <div id='mainframe'>  
        <div id='top_line'>
            <div id='top_line_empty'>
            </div>
            <div id='top_line_content'>
                <form action="/" method="get">
                    <div>
                        <button type="submit">return to home</button>
                    </div>
                </form>
            </div>
        </div>  
        <div id='title_view'> 
            <h1>edit account</h1>
        </div>
        <div id='view'>
            {% if error_message %}
            <div> {{error_message}} </div>
            {% endif %}
            <div id='user_input'>
                <form action="/edit/user" method="post">  
                    <input style='display:none' type="text" id="user_id" name="user_id" value="{{user_info['user_id']}}" readonly>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            ID
                        </div>
                        <div class='user_input_form_input'>
                            <input type="text" id="user_id_new" name="user_id_new" value="{{user_info['user_id']}}" required>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            PASSWORD CONFIRM
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password" name="user_password" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            NEW PASSWORD
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password_new" name="user_password_new" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            NEW PASSWORD CONFIRM
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password_new_confim" name="user_password_new_confirm" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            find_password_question
                        </div>
                        <div class='user_input_form_input'> 
                            <input type="text" id="user_password_question" name="user_password_question" value="{{user_info['user_password_question']}}" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            find_password_answer
                        </div>
                        <div class='user_input_form_input'> 
                            <input type="text" id="user_password_answer" name="user_password_answer" value="{{user_info['user_password_answer']}}" required></input>
                        </div>
                    </div>
                    <div class='user_input_submit'>
                        <button type="submit">전송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>