<!DOCTYPE html>
<html lang="ko"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{global_title}}</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css"></link>
    <link rel="stylesheet" href="/css/global_input.css" type="text/css"></link>
    <style>
        #mainframe {
            width : 500px;
        }
    </style>
</head>
<body>
    <div id='mainframe'>  
        <div id='top_line'>
            <div id='top_line_empty'>
            </div>
            <div id='top_line_content'>
                <form action="/" method="get">
                    <div>
                        <button type="submit">return to home</button>
                    </div>
                </form>
            </div>
        </div>  
        <div id='title_view'> 
            <h1>create account</h1>
        </div>
        <div id='view'>
            <div> {{error_message}} </div>
            <div id='user_input'>
                <form action="/user" method="post">
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            ID
                        </div>
                        <div class='user_input_form_input'>
                            <input type="text" id="user_id" name="user_id" required>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            PASSWORD
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password" name="user_password" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            PASSWORD_CONFIRM
                        </div>
                        <div class='user_input_form_input'>
                            <input type="password" id="user_password_confirm" name="user_password_confirm" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            find_password_question
                        </div>
                        <div class='user_input_form_input'> 
                            <input type="text" id="user_password_question" name="user_password_question" value="내가 가장 좋아하는 과자는?" required></input>
                        </div>
                    </div>
                    <div class='user_input_form'>
                        <div class='user_input_form_category'>
                            find_password_answer
                        </div>
                        <div class='user_input_form_input'> 
                            <input type="text" id="user_password_answer" name="user_password_answer" placeholder="빼빼로" required></input>
                        </div>
                    </div>
                    <div class='user_input_submit'>
                        <button type="submit">전송</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>